body{
    background-color:#949494;
    margin: 0px;
    min-width: 800px;
}
#container{
	width: 100%;
	min-width: 800px;
}

.erreur{
	color: rgba(255,0 ,0, 0.6);
	font-weight: bold;
	position: relative;
	top :-20px;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}